/* Color Palette - Light Mode */
:root {
    --primary-color: #445c82;
    --secondary-color: #7fa8d8;
    --accent-color: #f7941e;
    --background-color: rgba(245, 245, 245, 0.9);
    --text-color: #555;
  }
  
  body {
    background-image: url("../resources/images/pexels-karolina-grabowska-4386466.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
  
  /* Dark Mode */
  .dark-mode {
    --primary-color: #a8b6c2;
    --secondary-color: #4d6385;
    --accent-color: #ffa31a;
    --background-color: #292929;
    --text-color: #f5f5f5;
  }
  
  .pat-register-component {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 0px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .pat-register-container {
    padding: 20px;
  }
  
  .pat-register {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--primary-color);
  }
  
  .pat-register-form-container {
    margin-bottom: 20px;
  }
  
  .pat-register-form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text-color);
  }
  
  .pat-register-form-container input[type="text"],
  .pat-register-form-container input[type="email"],
  .pat-register-form-container input[type="tel"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--text-color);
  }
  
  .pat-register-form-container input[type="text"]:focus,
  .pat-register-form-container input[type="email"]:focus,
  .pat-register-form-container input[type="tel"]:focus {
    border-color: var(--accent-color);
  }
  
  .pat-register-form-container input[type="date"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.8);
    transition: border-color 0.3s ease-in-out;
    appearance: none;
    color: var(--text-color);
  }
  
  .pat-register-form-container input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(50%);
    cursor: pointer;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: var(--secondary-color);
  }
  
  .pat-register-component p {
    text-align: center;
    margin-top: 20px;
    color: var(--text-color);
  }
  
  @media (max-width: 768px) {
    .pat-register-component {
      max-width: 100%;
      padding: 10px;
    }
  
    .pat-register-container {
      padding: 10px;
    }
  
    .btn {
      width: 100%;
    }
  }
  